@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

:root {
    --cor1: #5f2c82;
    --cor2: #49a09d;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 300px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: var(--cor1) no-repeat url(../imagens/fundo.jpg) center center;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

div.campo  i {
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > label {
    display: none;
}

div.campo > input {
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;  
    border: 1px solid var(--cor2);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.400);
    padding: 4px;
    transform: translateY(-9px);
}

hr.linha {
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: rgba(250, 235, 215, 0.274);
}


form > input[type=submit] {
    margin: auto;
    margin-top: 20px;
    display: block;
    font-size: 1em;
    width: 80%;
    height: 40px;
    background-color: var(--cor2);
    color: white;
    border: 2px solid var(--cor2);
    border-radius: 5px;
    transition: .7s;
}

form > input[type=submit]:hover {
    background-color: white;
    color: var(--cor2);
}

form > a.botao {
    margin-top: 5px;
    text-align: left;
    color: #0e4e4d;
    text-decoration: none;
    transition: .3s;
}

form > a.botao:hover {
    color: #49a09d;
    text-decoration: underline;
}

form > a.botao > i {
    font-size: .8em;
}